.App {
  width: auto;
  min-height: 2000px;
  background-color: #e6faff;
  margin: 10px;
  border-radius: 15px;
  z-index: 1;
}
.header {
  width: auto;
  height: 100px;
  background-color: #e6faff;
  margin: 10px;
  padding: 5px;
}
.form {
  width: 300px;
  max-height: 500px;
  background-color: #e6faff;
  margin: 9px;
  float: left;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(1, 2, 8, 1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(1, 2, 8, 1);
  box-shadow: 0px 1px 5px 2px rgba(1, 2, 8, 1);
}
.table {
  width: 60%;
  min-height: 400px;
  background-color: #e6faff;
  margin-right: 200px;
  margin-top: 5px;
  float: right;
  padding: 5px;
}

#FormAddUsers input {
  height: 40px;
  margin: 10px;
  margin-left: 13%;
  width: 210px;
  border-radius: 10px;
  background-color: #00a3cc;
  border: 0px;
}
#FormAddUsers input::placeholder {
  color: #005266;
  text-align: center;
}
#FormAddUsers input:focus {
  outline: none;
}
#add {
  height: 50px;
  width: 70px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #ff8c1a;
  margin-bottom: 10px;
}
#add:focus {
  outline: none;
}

table {
  border: 1px solid darkblue;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
thead tr {
  background-color: #242582;
  color: white;
}
tbody tr {
  /* background-color: #c4f5fe; */
  color: #126e80;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
tbody > tr > td {
  font-size: 19px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(136, 197, 233);
}

#avatar {
  float: right;
  margin-bottom: 3px;
}

table tbody tr {
  color: #001f3f;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 500;
}
td > input {
  width: 20px;
  height: 20px;
  margin-left: 30%;
}
h3 {
  margin-left: 30px;
  color: #2f2fa2;
  background: -webkit-linear-gradient(#4b6cb7, #182848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#landingPage {
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  height: 200px;
  z-index: 3;

  -webkit-box-shadow: 0px 10px 5px 8px rgba(213, 218, 245, 1);
  -moz-box-shadow: 0px 10px 5px 8px rgba(213, 218, 245, 1);
  box-shadow: 0px 10px 5px 8px rgba(213, 218, 245, 1);
  background: rgb(46, 184, 184);

  background: -moz-linear-gradient(
    270deg,
    rgba(46, 184, 184, 1) 0%,
    rgba(0, 51, 153, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(46, 184, 184, 1) 0%,
    rgba(0, 51, 153, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(46, 184, 184, 1) 0%,
    rgba(0, 51, 153, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2eb8b8",endColorstr="#003399",GradientType=1);
}
.Clock {
  display: inline-block;
  margin-left: 1100px;
  font-weight: bolder;
  color: darkslateblue;
  margin-top: 10px;
}
.Clock:hover {
  color: rgb(226, 43, 52);
  cursor: pointer;
}
p {
  float: left;
  margin-left: 30px;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px,
    rgba(255, 255, 255, 0.4) 0 -4px 30px;
  color: white;
  font-size: 30px;
}
.logo {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  background-color: darkgoldenrod;
  overflow: hidden;
  float: left;
  margin: 30px;
}
img {
  width: 100%;
  height: 100%;
}
.applicantCard {
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(173, 159, 173, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(173, 159, 173, 1);
  box-shadow: 10px 10px 5px 0px rgba(173, 159, 173, 1);
  margin-top: -500px;
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 350px;
  border-radius: 15px;
  background: rgb(14, 165, 231);
  background: -moz-linear-gradient(
    270deg,
    rgba(14, 165, 231, 1) 0%,
    rgba(155, 218, 232, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(14, 165, 231, 1) 0%,
    rgba(155, 218, 232, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(14, 165, 231, 1) 0%,
    rgba(155, 218, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ea5e7",endColorstr="#9bdae8",GradientType=1);
}
.icon {
  height: 80px;
  width: 80px;
  overflow: hidden;
  float: left;
}
.detalii {
  float: right;
  width: 300px;
  height: 300px;
  margin-top: 0px;
}
.detalii > p {
  font-size: 20px;
  color: red;
}
